cangjie5.prism.bin
cangjie5.reverse.bin
cangjie5.schema.yaml
cangjie5.table.bin
default.yaml
installation.yaml
luna_pinyin.prism.bin
luna_pinyin.reverse.bin
luna_pinyin.schema.yaml
luna_pinyin.table.bin
luna_pinyin.userdb.kct
luna_pinyin.userdb.kct.old
luna_pinyin.userdb.kct.snapshot
luna_pinyin_fluency.prism.bin
luna_pinyin_fluency.schema.yaml
luna_pinyin_simp.prism.bin
luna_pinyin_simp.schema.yaml
rime.log
squirrel.yaml
user.yaml
.DS_Store
